$color1: #28e5fa;
$color2: #ffff57;
$font1: "Montserrat", sans-serif;

body{
    margin: 0;
    padding: 0;
    font-family: $font1;
    background-color: #fffbe2;
}

.coupon-code{
    background-color: $color2;
    font-size: 1rem;
    text-align: center;
    margin: 0;
    padding: 1%;
}

.skinthia-logo{
    display: flex;
    flex-direction: row;
    margin: 2% auto 0;
    width: 35%;
    height: auto;
}

// NAV BAR
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    background-color: $color1;
    padding: 1%;
li a{
    text-decoration: none;}
li img{
    width: 25px;
    height: auto;
li:hover{
    color: $color1;
}}}

//CONTACT FORM WHOLE CONTAINER
.contact-container{
    background-color: $color2;
    border-radius: 10px;
    max-width: 900px;
    margin: 30px auto;
    padding: 20px;
.skinthia-logo{
    width: 120px;
    height: auto;
    display: block;
    margin: 20px auto;
}}

//FORM
.contact-form{
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 20px;
    padding: 20px;
    border-radius: 20px;
img{
    width: 250px;
    height: auto;
    border-radius: 20px;
    display: block; 
    margin: 0 auto;
}

form{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    gap: 1px;
label{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

input{
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-family: $font1;
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;
}
.message-box{
    padding-bottom: 100px;
}}

button{
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: $color1;
    color: white;
    font-weight: bold;
&:hover{
    background-color: $color1;
}
&:active{
    background-color: black;
    color: $color2;
}}}


// FOOTER (socials & disclaimers)
footer{
    text-align: center;
    background-color: $color1;
.socials img{
    width: 50px;
    height: auto;
    margin: 2%;
}}

// MEDIA QUERIES
@media screen and (max-width: 800px) {
.contact-form {
    flex-direction: column;
    padding: 10px;
}

.contact-form img {
    width: 200px;
}
form {
    width: 100%;
}}


@media screen and (min-width: 800px){
.contact-form{
    flex-direction: row;
    justify-content: space-around;
img{
    display: block;
    width: 250px;
}
form{
    width: 50%;
}}}
